/* ============================
===============================
|      Made by Minju Lee      |
|              June. 2019      |
===============================
============================ */

/* index table */



@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


/****-- Responsive START --****/
@media (min-width: 768px) {
	.iframe__group{
		max-width:960px;
		max-height: calc(960px * 9 / 16);
	}
	iframe{
		max-width:960px;
		max-height: calc(960px * 9 / 16);
	}
	.iframe__overlay.bottom{
	  margin-top:calc(960px * 9 / 16 - 104px)
	}
	img.loading__blur{
		max-width:960px;
		max-height: calc(960px * 9 / 16);
	}
}

@media (max-width: 767.99px) {

	.focus{
		padding-left: 5%;
		padding-right:5%;
	}
  .__web, .social{
		display:none;
	}
	.__mobile{
		display:inherit;
	}
	.nav-item.__mobile{
		margin-right:0 !important;
	}
	.navbar-nav {
		padding:1rem 0.5rem;
	}
	.fixed-top {
		width:90vw;
	}
	footer{
		width:90vw;
		margin:0 5% !important;
	}
	main{
		width:90vw !important;
	}
}


/*-- Mid Screen (Tablet) --*/
@media (min-width:601px) and (max-width: 768px) {

}
/*-- Small Screen (Phone (landscape)) --*/
@media (max-width: 600px) {
}

/*-- Small Screen (Phone (portrait)) --*/
@media (max-width: 414px) {

}

/****-- Responsive END --****/
